.navbar{
    background-color:rgb(234, 234, 243);
   
}
.nav-link:hover{
    background-color: rgb(168, 58, 58);
    color: white;
  
}
.navbar-nav li.active > a {
    background-color: rgb(168, 58, 58);
    color: white;
}